/* Mise en page globale */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Fond clair et neutre */
    color: #333; /* Texte sombre pour une bonne lisibilité */
}

/* Modification de l'en-tête (nav) */
.top-nav {
    background-color: #333; /* Gris foncé pour l'en-tête */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.top-nav-title a {
    color: #ffffff; /* Blanc pour le texte du titre */
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}

.top-nav-links {
    display: flex;
    align-items: center;
}

.user-info {
    margin-right: 15px;
    color: white;
}

.top-nav-links a.button {
    background-color: #d33c43;
    color: white;
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.top-nav-links a.button:hover {
    background-color: #404041; 
}

/* Footer - Ancré en bas de page */
.main-footer {
    background-color: #f9f9f9; /* Fond très clair pour le footer */
    color: #555; /* Texte plus foncé pour une lecture facile */
    text-align: center;
    padding: 20px 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-footer .footer-content p {
    margin: 5px 0;
}

.main-footer a {
    color: #333; /* Gris foncé pour le lien */
    text-decoration: none;
}

.main-footer a:hover {
    text-decoration: underline;
}

/* Conteneur principal */
.container {
    display: flex; /* Place les éléments côte à côte */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-height: 100vh; /* S'assure que le conteneur prend toute la hauteur */
    flex-direction: row; /* Les éléments sont disposés horizontalement */
    margin-bottom: 60px;
}

/* Style des boutons de déconnexion et de connexion */
.logout-button, .login-button {
    background-color: #333;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    
    /* Centrer le texte horizontalement et verticalement */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    text-align: center; /* Assure que le texte est centré dans le bouton */
}

.logout-button:hover, .login-button:hover {
    background-color: #555;
}

/* Ajout d'un effet de survol sur le lien de la connexion / déconnexion */
.user-info a {
    color: #333; /* Gris foncé pour le lien */
    text-decoration: none;
}

.user-info a:hover {
    text-decoration: underline;
}

span
{
    color: #d33c43 !important;
}

/* Menu latéral gauche */
#menu {
    width: 250px; /* Largeur fixe */
    background-color: #f4f4f4; /* Fond clair */
    padding: 15px; /* Espacement interne */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
    border-right: 1px solid #ccc; /* Ligne de séparation */
    flex-shrink: 0; /* Empêche le redimensionnement */
    z-index: 10; /* Priorité pour les clics */
}

#menu ul {
    list-style: none; /* Supprime les puces */
    padding: 0;
    margin: 0;
}

#menu li {
    margin-bottom: 10px; /* Espacement entre les éléments */
}

#menu li:last-child {
    margin-bottom: 0; /* Pas de marge pour le dernier élément */
}

#menu a {
    text-decoration: none; /* Pas de soulignement */
    color: #333; /* Couleur du texte */
    font-weight: bold; /* Texte en gras */
}

#menu a:hover {
    background-color: #d33c43; /* Fond rouge clair au survol */
    color: white; /* Texte blanc au survol */
}

#menu a.active {
    background-color: #d33c43; /* Fond rouge clair pour l'actif */
    color: white;
    font-weight: bold; /* Met en évidence l'élément actif */
}

#sortableMenu {
    list-style-type: none; /* Supprime les puces */
    padding: 0;
    margin: 0;
}

.menu-item {
    cursor: move; /* Curseur pour indiquer qu'on peut déplacer */
    padding: 8px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

/* Effet au survol */
.menu-item:hover {
    background-color: #e3e3e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style de l'élément lorsque l'utilisateur le déplace */
.ui-sortable-placeholder {
    border: 1px dashed #bbb;
    background-color: #f9f9f9;
    visibility: visible !important;
}

/* Style des éléments lors du glissement */
.ui-sortable-helper {
    background-color: #f0f0f0;
    opacity: 0.7;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Contenu principal */
#content {
    flex: 1; /* Prend tout l'espace restant */
    padding: 20px; /* Espacement interne */
    background-color: #ffffff; /* Fond blanc */
    overflow: auto; /* Scrolling si nécessaire */
    z-index: 1; /* Assure que le contenu est bien en arrière-plan */
}